section, footer {
  font-size: 17px;
  color: teal;
}
#section2 {
  font-size: 20px;
}

#section3 {
  font-size: 16px;
  color: black;
} 

body {
	background-color: lavender;
}
		
h1 {
	font-size: 33px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 24px;
	color: black;
}

h4 {
	font-size: 24px;
	color:black;
}

@media screen and (min-width: 500px) {
  body {
    background-color: LightSteelBlue;
  }
}

.imagesp1 {
	width: 40%
}
	

@media screen and (min-width:200px) and (max-width:1000px){

.imagesp1 {
	width: 50%
}
	
}

.imagesp2 {
	width: 42%
}

@media screen and (min-width:250px) and (max-width:1000px){
	
	.images2 {
		width: 80%
}
	
}

body{ 
	animation-name: colorchange;
	animation-duration: 25s;
	
}
  @-moz-keyframes colorchange {
      0% {
        
        color: black;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }

  @keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: palevioletred;
      }
     }

  @-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: navy;
	  }
}
