section, footer {
  font-size: 17px;
  color: teal;
}
#section2 {
  font-size: 20px;
}

#section3 {
  font-size: 16px;
  color: black;
} 

body {
	background-color: thistle;
}
		
h1 {
	font-size: 33px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 24px;
	color: black;
}

h4 {
	font-size: 24px;
	color:black;
}
	
.images {
	width: 100%px;
}

.images {
	width: 30%;
}